/* Menu */
.menu a{
    display: inline-block;
    text-align: center;
    min-width: 8rem;
}

.menu a:hover{
    background-color: #282a35;
    color: #fff !important;
}

.active{
    
}



/* Main page */
.main-page{
    background-color: #D9EEE1 !important;
}


/* Icon */
.close-icon{
    float: right;
    font-size: 2rem;
    color: #fff;
    background: rgba(0, 0, 0, 0);
}

.close-icon:hover{
    opacity: 0.8;
}


/* Modal */
.modal{
    display: block;
    background-color: #282a35;
    position: fixed;
    z-index: 100;
    inset: 0;
    width: 100%;
    height: 100vh;
    padding-top: 143px;
    overflow-y: auto;
}

.show{
    display: block;
}



.myImg{
    min-width: 100px;
    max-width: 336px;
    max-height: 192px;
}